

.h2 {
    margin: 0;
    
}
.img {
    display: block;
}
.support {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 352px;
    width: 335px;
    overflow: hidden;
    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    padding-bottom: 68px;
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (min-width: 768px) {
    .support {
        height: 490px;
        padding-bottom: 102px;
    }
}

.support-title-group {
  
    display: flex;
        gap: 12px;
        color: #fff;
        /* justify-content: center; */
        /* margin-bottom: 40px; */
}

.support-title {
        letter-spacing: -.04em;
            /* color: #fff; */
            margin-bottom: 40px;
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
                font-family: DM Sans, sans-serif;
                margin-top: 0;
}

.support-icon {
    fill: white;
    
    /* display: block; */
    /* width: 20px;
    height: 32px; */
}

.sponsors-slideUp__btn::before {
    content: '';
    background-image: url('/src/images/angle.svg');
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 22px;
    height: 22px;
}

.support-slide-btn {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    align-self: center;
    margin-bottom: 20px;
}
.support-slide-down-btn,
.support-slide-up-btn {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    align-self: center;
    margin-bottom: 20px;
}
.hidden-support-up-btn {
    display: none;
}
